
{% extends 'market/base.html' %}

{% block zoneCentrale %}


<form class="form-inline" action="{% url 'market:index' %}" method="post">
   {% csrf_token %}
   <div class="form-group">
   <label for="ville" class="control-label">Ville</label>
   <input type="text" name="ville" value="" id="ville">
   </div>


   <button type="submit" class="btn btn-success">Réserver</button>
</form>
{{market.ville}}
   {% include 'market/carteAllMarket.html' with listMarket=listMarket centre_latitude=market.latitude centre_longitude=market.longitude  %}
{% endblock zoneCentrale %}